<p>listar-usuarios works!</p>

<table class="table">
    <thead>
        <tr>
            <td>ID</td>
            <td>Nome</td>
            <td>Idade</td>
            <td>Perfil</td>
            <td>Ação</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of listaUsuarios$ | async">
            <td>{{ user.id }}</td>
            <td>{{ user.nome }}</td>
            <td>{{ user.idade }}</td>
            <td>{{ user.perfil }}</td>
            <td><button class="btn btn-primary">Editar</button></td>
        </tr>
    </tbody>
</table>
